.navbar-brand {
  display: flex;
  align-items: baseline;
}

.title {
  margin-left: 500px;
  font-family: "Kaushan Script", cursive;
  font-size: 70px;
  margin-top: 25px;
}

.btn-primary {
  width: 175px;
  height: 50px;
  border-color: black;
}
